<div class="progress legend">
  <div class="progress-bar progress-bar-sales progress-legend" role="progressbar">
    Sales
  </div>
  <div class="progress-bar progress-bar-quoting progress-legend" role="progressbar">
    Quoting
  </div>
  <div class="progress-bar progress-bar-design progress-legend" role="progressbar">
    Design
  </div>
  <div class="progress-bar progress-bar-engineering progress-legend" role="progressbar">
    Engineering
  </div>
  <div class="progress-bar progress-bar-production progress-legend" role="progressbar">
    Production
  </div>
  <div class="progress-bar progress-bar-inspections progress-legend" role="progressbar">
    Inspections
  </div>
  <div class="progress-bar progress-bar-shipping progress-legend" role="progressbar">
    Shipping
  </div>
</div>
